{% load static %}
{%load post_tags%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<style>
		#bac
		{
			background-image:url("https://c4.wallpaperflare.com/wallpaper/129/22/327/hands-greeting-handshake-wallpaper-preview.jpg");
			background-repeat:no-repeat;
			background-size:100%,100%;
		}
	</style>
</head>
<body id="bac">
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Resparser</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">

					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href='http://127.0.0.1:8000/'>Home</a>
					</li>

			  		<li class="nav-item">
						<a class="nav-link" href="https://www.canva.com/design/DAFWQnII5JM/QI7MLxdVad8m9aQG2sP9fg/edit">Create Resume</a>
					</li>
					<tr>
					 
					</tr>    
				 
					<!-- <ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul> -->
				
				<li>
					<form action = "search" class="d-flex" role="search" method="GET">
						{%csrf_token%}
					   <input class="form-control me-2" type="search" placeholder="Search Resume" aria-label="Search" name="search">
						<button class="btn btn-outline-success" type="submit">Search</button>
					   </form>
				</li>
				</ul>
			</div>
			    
			<div>
				<form id="upload" action="" method = 'POST'  enctype='multipart/form-data'>
					{%csrf_token%}
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							{{form.as_p}} 
						</li>
						<li class="nav-item">
							<input class="btn btn-success" type="submit"value='submit'> 
						</li>
					</ul>		
				</form>
			</div>
	</nav>
	  <style>
		.form-span {
			width: 200px;
			display: inline-block;
		}
	  </style>









	{%if resume%}
		<section class="h-100" style="background-color: #eee;">
			<div class="container h-100 py-5">
				<div class="row d-flex justify-content-center align-items-center h-100">
					<div class="col-10">
  
						<div class="d-flex justify-content-between align-items-center mb-4">
							<h3 class="fw-normal mb-0 text-black">Resumes</h3>
								<div>

								</div>
						</div>

	  					{%for k in resume%}

		  					<form action="{%url 'pdf' %}" method="POST">
			  					{%csrf_token%}
				
				 				<div class="card-body p-4">
									<div class="card rounded-3 mb-4">
				  						<div class="row d-flex justify-content-between align-items-center">
											<div class="col-md-2 col-lg-2 col-xl-2">
					  							<img
													src="https://thumbs.dreamstime.com/z/programming-developer-work-home-modern-flat-style-minimalist-green-color-theme-vector-185480272.jpg"
													class="img-fluid rounded-3" alt="Cotton T-shirt">
											</div>
											<div class="col-md-3 col-lg-3 col-xl-3">
					  							<p class="lead fw-normal mb-2">{{k.skill}}</p>
											</div>
											<div class="col-md-3 col-lg-3 col-xl-2 d-flex">
												{% with k.skillset|toarr as details %}
												<div>
													<div class="overflow-hidden">
														{% for p in details %}
										
														   <td>
															<div>
																<footer>
																<b>
																	{{ p }}
																</b>	
																</footer>
															</div>
															
														</td> 
												
														{% endfor %}
													</div>
												</div>
												
												
											 {% endwith %} 
											
											</div>
											<div class="col-md-3 col-lg-3 col-xl-2 d-flex">

											</div>
											<div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
												<button type="submit" class="btn btn-outline-success" name="abc" value="{{k.resume.path}}" > View Resume  </button> <br>
											</div>
											<div class="col-md-1 col-lg-1 col-xl-1 text-end">
					  							<a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
											</div>
				  						</div>
									</div>
			  					</div>
							</form>
						{%endfor%}
					</div>
				</div>
			</div>		
		</section>
	{%endif%}







	







	
	 

		</header>	
	</div>

	
	
	
	
</body>
</html>